[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm

[submodule "src/modules/VulkanTools"]
	path = src/modules/VulkanTools
	url = https://github.com/KGAFT/VulkanContext
